/* RESET STYLES =============== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

:root { 
  --red10: #E10234;
  --red20: #87021B;
  --red30: #350207;


  --white10: #FFFFFF;
  --white20: #ECF8FF;
  --white30: #C9E2F0;

  --black10: #050607;
  --black20: #0e0a0a;
  --black30: #110b0b;
  
  --gradient-red: linear-gradient(180deg, #050607 5%, #350207 20%, #E10234 107.74%);
  --gradoemt-red10: linear-gradient(to right, #050607,#350207, #e10234);

  --header-height: 4.5rem;
}

body {
    width: 100%;
    min-height: 100vh; 
    /* background-color: var(--black10);
    background: var(--gradient-red);*/
    -webkit-font-smoothing: antialiased;
}

.bg-image {
  background: url("./bg-hero.jpg") no-repeat center fixed;
}

/* GENERAL STYLES =============== */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* img {
  width: 100%;
  height: auto;
} */

.section {
  padding: 5rem 0;
  height: 100vh;
}

.grid {
  display: grid;
  gap: 2rem;
}

.mask {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(225, 2, 52, 0.4)), to(rgba(225, 2, 52, 0.4))), #5D0211;
  background: linear-gradient(0deg, rgba(225, 2, 52, 0.4), rgba(225, 2, 52, 0.4)), #5D0211;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  background-color: var(--red10);
  color: var(--white10);
  letter-spacing: 0.1rem;
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1.3rem 'Saira Condensed', sans-serif;
  transition: background 0.3s;
}

.button:hover {
  background-color: var(--red20);
}
/* GENERAL STYLES =============== */


/* HEADER STYLES =============== */
#header {
  margin-bottom: 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 1px 25px rgba(0,0,0, .1);
}

.logo {
  font: 700 1rem 'Orbitron', sans-serif;
  color: var(--white10);
}

span {
  color: var(--red10);
}

main {
  margin-top: calc(var(--header-height) + 2rem);
}
/* HEADER STYLES =============== */

/* HERO STYLES =============== */
#home .container {
  margin: 0;
}

#home .text {
  position: absolute;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1.6rem;
}

#home .text h3 {
  font: 400 1.5rem 'Saira Condensed', sans-serif;
  color: var(--red10);
  margin-bottom: 2rem;
}

#home .text p {
  margin-bottom: 2rem;
  max-width: 100%;
}

#home .image img {
  position: relative;
  height: 50vh;
  top: -88px;
  left: 30%;
}
/* HERO STYLES =============== */

/* NAVIGATION STYLES =============== */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.3s ease;
  position: relative;
}

nav ul li a:hover {
  color: var(--red10);
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--gradoemt-red10);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--black10);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
}

nav.show .menu {
  display: grid;
  place-content: center;
}

nav.show ul.grid {
  gap: 4rem
}

.toogle {
  color: var(--white10);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  right: 1.5rem;
}

nav.show .close {
  visibility: visible;
  opacity: 1;
}


/* NAVIGATION STYLES =============== */

/* FONTS STYLES =============== */
body {
  font: 400 1rem 'Orbitron', sans-serif;
}

.title {
  font: 700 4rem 'Orbitron', sans-serif;
  line-height: 76px;
  color: var(--white10);
  letter-spacing: .2rem;
}

h2, h3, h4, h5, h6, p, a {
    font: 400 1rem 'Saira Condensed', sans-serif;
    color: var(--white10);
}
