/* RESET STYLES =============== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

:root { 
  --red10: #E10234;
  --red20: #87021B;
  --red30: #350207;


  --white10: #FFFFFF;
  --white20: #ECF8FF;
  --white30: #C9E2F0;

  --black10: #050607;
  --black20: #0e0a0a;
  --black30: #110b0b;
  
  --gradient-red: linear-gradient(180deg, #050607 5%, #350207 20%, #E10234 107.74%);
}

body {
    /* width: 100%;
    min-height: 100vh; */
    background-color: var(--black10);
    background: var(--gradient-red);
    -webkit-font-smoothing: antialiased;
}

.bg-image {
  background: url("./bg-hero.jpg") no-repeat center fixed;
}

/* HEADER STYLES =============== */
nav {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font: 700 1rem 'Orbitron', sans-serif;
  color: var(--white10);
}

span {
  color: var(--red10);
}

/* HEADER STYLES =============== */

/* GENERAL STYLES =============== */
.container {
  width: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

img {
  width: 100%;
  height: auto;
}

.section {
  padding: 5rem 0;
}

.grid {
  display: grid;
  gap: 2rem;
}

.button {
  background-color: var(--red10);
  color: var(--white10);
  letter-spacing: 0.1rem;
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1.2rem 'Saira Condensed', sans-serif;
  transition: background 0.3s;
}

.button:hover {
  background-color: var(--red20);
}

/* GENERAL STYLES =============== */

/* HERO STYLES =============== */
#home .container {
  margin: 0;
}

#home .text {
  position: absolute;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}

#home .image img {
  position: relative;
  height: 80vh;
  left: 10px;
}

/* FONTS STYLES =============== */
body {
  font: 400 1rem 'Orbitron', sans-serif;
}

h1 {
  font: 700 3rem 'Orbitron', sans-serif; 
  color: var(--white10);
  letter-spacing: .2rem;
}

h2, h3, h4, h5, h6, p, a {
    font: 400 1rem 'Saira Condensed', sans-serif;
    color: var(--white10);
}
