/* RESET STYLES =============== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

:root {
  /* Colors ===========  */
  --red10: #E10234;
  --red20: #87021B;
  --red30: #350207;


  --white10: #FFFFFF;
  --white20: #ECF8FF;
  --white30: #C9E2F0;

  --black10: #050607;
  --black20: #0e0a0a;
  --black30: #110b0b;
  
  --gradient-red: linear-gradient(180deg, #050607 5%, #350207 20%, #E10234 107.74%);
  --gradient-red10: linear-gradient(to right, #050607,#350207, #e10234);
  --gradient-bg: linear-gradient(to bottom, #000000, #020101, #070505, #150505, #1e0505, #250606, #2c0506, #3b060e, #4b0514, #5c0218, #7c0120, #9c0028, #be002e, #e10234);
  
  --header-height: 4.5rem;

  /* Fonts ===========  */
  --title-font-size: 3rem;
  --title-hero-font-size: 4rem;
}

body {
    width: 100%;
    min-height: 100vh; 
    /* background-color: var(--black10);*/
    /* background: var(--gradient-bg); */
    -webkit-font-smoothing: antialiased;
}

.bg-image {
  background: url("./bg-hero.jpg") no-repeat center;
}

/* GENERAL STYLES =============== */
.container-hero {
  margin-top: calc(var(--header-height) + 2rem);
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* img {
  width: 100%;
  height: auto;
} */

.section#projects {
  background: var(--gradient-bg);
}

.section#about {
  background-color: var(--red10);
}

.section {
  padding: 5rem 0;  
  /* height: 100vh; */
}

.section .title {
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.mask {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(225, 2, 52, 0.4)), to(rgba(225, 2, 52, 0.4))), #5D0211;
  background: linear-gradient(0deg, rgba(225, 2, 52, 0.4), rgba(225, 2, 52, 0.4)), #5D0211;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  background-color: var(--red10);
  color: var(--white10);
  letter-spacing: 0.1rem;
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1.3rem 'Saira Condensed', sans-serif;
  transition: background 0.3s;
}

.neon-hover {
  transition: box-shadow 0.2s ease-in;
}  

.neon-hover:hover {
  background: var(--red10);
  border: .5px solid #ff3460;
  box-shadow: 0 0 20px var(--red10);
}
/* GENERAL STYLES =============== */


/* HEADER STYLES =============== */
#header {
  margin-bottom: 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.2s ease;
}

#header.hide {
	top: -70px;
}

.logo {
  font: 700 1rem 'Orbitron', sans-serif;
  color: var(--white10);
}

span {
  color: var(--red10);
}

/* HEADER STYLES =============== */

/* HERO STYLES =============== */
#home {
  height: 100vh;
}

#home .container {
  margin: 0;
}

#home .text {
  position: absolute;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1.6rem;
}

#home .text h3 {
  font: 400 1.5rem 'Saira Condensed', sans-serif;
  color: var(--red10);
  margin-bottom: 2rem;
}

#home .text p {
  margin-bottom: 2rem;
  max-width: 100%;
}

#home .image img {
  position: relative;
  height: 50vh;
  top: -88px;
  left: 30%;
}
/* HERO STYLES =============== */

/* NAVIGATION STYLES =============== */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.3s ease;
  position: relative;
}

nav ul li a:hover {
  color: var(--red10);
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--gradient-red10);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
}

nav .menu ul {
  display: none;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--black10);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem
}

.toogle {
  color: var(--white10);
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.2s ease;
}

nav .close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  right: 1.5rem;
  
}

nav.show .close {
  visibility: visible;
  opacity: 1;
}


/* NAVIGATION STYLES =============== */

/* FONTS STYLES =============== */
body {
  font: 400 1rem 'Orbitron', sans-serif;
}

.title {
  font: 700 var(--title-font-size) 'Orbitron', sans-serif;
  line-height: 76px;
  color: var(--white10);
  letter-spacing: .2rem;
}

.title-hero {
  font: 700 var(--title-hero-font-size) 'Orbitron', sans-serif;
  line-height: 76px;
  color: var(--white10);
  letter-spacing: .2rem;
}

h2, h3, h4, h5, h6, p, a {
    font: 400 1rem 'Saira Condensed', sans-serif;
    color: var(--white10);
}

/* CARDS STYLES =============== */
.cards.grid {
  gap: 1.5rem;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 820px;
  /* background: white; */  
  opacity: 0.8;
  box-shadow: 8px 8px 20px rgba(31, 0, 3, 0.25);
  border-radius: 2px;
}

.card img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card .card-content {
  padding: 1.5rem;
  background: var(--red10);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

}

.card .card-content .card-title {
  font: 500 1.5rem 'Saira Condensed', sans-serif;
  line-height: 32px;
  letter-spacing: 1px;
}

.card .card-content .card-subtitle {
  color: var(--red30);
  font: 400 1.2rem 'Saira Condensed', sans-serif;
  line-height: 18px;
}

.card .card-content .card-text{
  margin-top: 1rem;
}

.card .card-content .social {
  margin-top: 1rem;
  display: flex;
  gap: 16px;
  font-size: 1.5rem;
  color: var(--white10);
}

.card .card-content .social svg:hover {
  color: var(--red30);
  cursor: pointer;
}

/* CARDS STYLES =============== */

/* BACK TO TOP STYLES =============== */
.back-to-top {
  background-color: var(--red10);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 1rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;
  transition:  0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* BACK TO TOP STYLES =============== */


/* MEDIA QUERIES =============== */
/* Extra large devices: 1200 > */
/* Large devices: 1023 > */

/* Large devices: 992 ou mais */
@media (min-width: 992px) {
  :root {
    --title-font-size: 4rem;
    --title-hero-font-size: 6rem;
  }
}