@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,200;0,300;0,400;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.container-canva {
  @apply max-w-[93.75rem] w-[90%] mx-auto my-4
}

a {
  @apply cursor-point
}

.sidenav {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	        animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(480px);
            transform: translateX(480px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}